<p class="h1 my-3">Delete Restaurant</p>
<hr>

<form class="row row-cols-lg-auto g-3 align-items-center" #deleteRestaurantForm="ngForm"
    (ngSubmit)="deleteRestaurantSubmit(deleteRestaurantForm)">

    <div class="col-12">
        <label class="" for="inlineFormSelect">Select Restaurant Id</label>
    </div>

    <div class="col-12">
        <select class="form-select" id="inlineFormSelect" name="restaurantId" #restaurantId="ngModel"
            [(ngModel)]="restaurant.restaurantId" required>
            <option [value]="restaurant.restaurantId" *ngFor="let restaurant of restaurantCrudService.restaurants">
                {{restaurant.restaurantId}}
            </option>>
        </select>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary"
            [disabled]="deleteRestaurantForm.pristine || deleteRestaurantForm.invalid">
            Submit
        </button>
    </div>
</form>

<div class="alert alert-success mt-3" role="alert" *ngIf="restaurantCrudService.restaurantDeletedSuccess">
    Restaurant was deleted successfully.
</div>